[submodule "nethack"]
	path = nethack
	url = git://github.com/clivecrous/nethack.git
[submodule "slashem"]
	path = slashem
	url = git://github.com/clivecrous/nethack.git
[submodule "sporkhack"]
	path = sporkhack
	url = git://github.com/clivecrous/nethack.git
[submodule "unnethack"]
	path = unnethack
	url = git://github.com/clivecrous/nethack.git
